{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load crispy_forms_tags %}

{% block title_block %} {{ other_user.username }} . Photomedia {% endblock %}

{% block edit_block %}
<style>
    .profile {
        margin-top: 50px;
    }

    .info .image {
        margin-left: 100px;

    }

    .image img {
        width: 180px;
        height: 180px;
    }

    .vl {
        height: 180px;
        width: 1px;
        margin-left: -125px;
        background-color: #aaa;
    }

    .post-text {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .text {
        margin-top: -190px;
        margin-left: 380px;
    }

    .logout {
        margin-left: 10px;
    }

    .most_recent_blog {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .blog-image img {
        width: 362px;
        height: 262px;
    }
</style>
{% endblock %}


{% block body_block %}
<div class="container profile">
    <!--User Profile-->
    <div class="row info">

        <div class="col-sm-4 image">
            {% if other_user.user_profile %}
            <img src="/media/{{ other_user.user_profile.profile_pic }}" alt="{{ other_user.username }}"
                title="{{ other_user.username }}" class="rounded-circle">
            {% else %}
            <img src="/media/profile_pics/avatar.png" title="Add Profile Photo" class="rounded-circle">
            {% endif %}
        </div>

        <div class="vl"></div>

        <div class="col-sm-8 text">
            <h2>{{ other_user.username }}</h2>
            <h6 class="post-text"><strong>{{ other_user.blog_author.count }}</strong> Blogs</h6>
            <div class="full-name">
                <h4>{{ other_user.first_name }} {{ other_user.last_name }}</h4>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <!--User Blogs-->
    <div class="most_recent_blog">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-33">
                        <h3>{{ other_user.username }}'s Blogs</h3>
                    </div>
                </div>

                <!--All Blogs-->
                <div class="col-xl-12 col-md-12">
                    <div class="row">
                        {% for blog in other_user.blog_author.all %}
                        <div class="col-xl-4 col-md-4">
                            <div class="single_blog">
                                <div class="blog_thumb blog-image">
                                    <a href="{% url 'blog:full_blog' slug=blog.slug %}">
                                        <img src="/media/{{ blog.image }}" alt="{{ blog.title }}"
                                            title="{{ blog.title }}">
                                    </a>
                                </div>
                                <div class="blog_meta">
                                    <p><a href="{% url 'blog:category' cat_id=blog.category.id %}">{{ blog.category }}</a> | On {{ blog.publish | date:"d M, G:i"}} |
                                        <i class="fa fa-heart" aria-hidden="true"></i> {{ blog.blog_like.count}} |
                                        <i class="fa fa-comments"></i> {{ blog.blog_comment.count }}</p>
                                    <h3><a
                                            href="{% url 'blog:full_blog' slug=blog.slug %}">{{ blog.title | title_filter }}</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}